/* Google Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat:wght@200;400;600&family=Noto+Sans:wght@200;400;600&family=Poppins:wght@400;500;600&family=Raleway:wght@200;400;600&display=swap'); */
/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  html,
  body {
    height: 100%;
    width: 100%;
  }


  body {
    @apply m-0 font-poppins font-normal text-black;
  }

  i {
    @apply mt-0.5;
  }

  section {
    @apply py-4 px-[5vw] md:px-[7vw] lg:px-[10vw];
  }

  ::selection {
    @apply bg-purple-300;
  }

  img {
    @apply w-full h-full object-cover;
  }

  .navbar {
    @apply z-10 sticky top-0 flex items-center gap-12 w-full px-[5vw] py-5 h-[75px] border-b border-french-gray/20 bg-white;
  }

  .h-cover {
    @apply min-h-[calc(100vh-75px)];
  }

  .center {
    @apply block mx-auto;
  }

  .btn-dark {
    @apply whitespace-nowrap bg-gunmetal text-white rounded-full py-3 px-6 text-lg capitalize hover:bg-opacity-90 hover:bg-gunmetal-2;
  }

  .btn-light {
    @apply whitespace-nowrap rounded-full py-3 px-6 text-lg capitalize hover:bg-cadet-gray hover:bg-opacity-90 bg-gray-200 text-black;
  }

  .input-box {
    @apply w-[100%] rounded-md p-4 pl-12 border focus:bg-transparent placeholder:text-black;
  }

  input:disabled,
  input:disabled~.input-icon {
    @apply opacity-50;
  }

  .link {
    @apply text-cadet-gray hover:text-black hover:bg-gray-300 p-3 px-4 block opacity-75;
  }

  .hide {
    @apply opacity-0 pointer-events-none duration-100;
  }

  .show {
    @apply opacity-100 pointer-events-auto;
  }

  .sidebar-link {
    @apply flex gap-4 items-center py-5 text-dark-grey hover:text-black;
  }

  .sidebar-link.active {
    @apply text-black border-r-2 border-black pl-6 bg-grey/50 -ml-6 md:rounded-tl-lg md:rounded-bl-lg max-md:border-none;
  }

  #textEditor h2,
  h2 {
    @apply font-poppins text-4xl leading-normal font-bold max-md:text-3xl max-md:leading-snug;
  }

  #textEditor h3,
  h3 {
    @apply font-poppins text-3xl leading-loose max-md:text-2xl max-md:leading-normal !important;
  }

  #textEditor *,
  .blog-page-content * {
    @apply font-noto text-xl leading-10 md:text-2xl;
  }

  #textEditor a,
  .blog-page-content a {
    @apply text-rose-quartz underline hover:opacity-50;
  }

  .Tag {
    @apply p-3 bg-gray-200 rounded-full px-6 capitalize;
  }

  .blog-title {
    @apply text-2xl font-poppins font-medium leading-8 line-clamp-3 sm:line-clamp-2;
  }

  .blog-index {
    @apply text-3xl sm:text-2xl lg:text-5xl font-bold text-cadet-gray leading-none;
  }
}

.ce-block__content,
.ce-toolbar__content {
  max-width: 900px;
}

.cdx-settings-button[data-tune='withBorder'],
.cdx-settings-button[data-tune='withBackground'],
.cdx-settings-button[data-tune='stretched'] {
  display: none;
}